.productCards{
    width: 250px;
    background: white;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0.4px 10px rgba(0, 0, 0, 0.1);
    transition: 0.2s ease-in-out;
}
.productCards:hover{
    transform: translateY(-4px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}
.Card-image{
    background-position: 50% 50%;
    background-size: cover;
    line-height: 24px;
    width: 100%;
    height: 200px;
    background: #d7d7d7;
    border-radius: 6px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.product-title{
    color: #222;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    margin: 0;
    
}
.product-price{
    font-weight: 700;
    line-height: 24px;
    margin-top: 6px;
    font-size: 15px;
    color: #555;
}