.cart-image{
    background-position: 50% 50% ;
    background-size: cover;
    color: #000000de;
    line-height: 24px;
    margin-top: 20px;
    margin-left: 292px;
}
.sumarry{
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: #0000001a 0px 4px 6px 0px;
    color: #000000de;
    line-height: 24px;
    margin: 0px 0px 20px 20px;
    padding: 40px;
    position: fixed;
    top: 80px;
    right: 20px;
    height: 250px;
    width: 210px;
    border: 1px solid #ccc;
}
.cart-sumarry{
    color: #333;
    font-size: 24px;
    font-weight: 700;
    line-height: 32.016px;
    margin: 0 0 10px;
    text-transform: uppercase;
}
.cart-details-price{
    color: #555;
    line-height: 24px;
}
.cart-total{
    color: #555;
    font-weight: 700;
    line-height: 24px;
}
.cart-button{
    align-items: center;
    background-color: #1976d2;
    border-radius: 4px;
    box-shadow: #003 0px 3px 1px -2px;
    color: #fff;
    display: inline-flex;
    font-size: 14px;
    font-weight: 500;
    justify-content: center;
    line-height: 24.5px;
    margin: 10px 0 0;
    padding: 6px 40px;
    text-align: center;
}