.details-container{
    display: flex;
    max-width: 1200px;
    margin: 40px auto;
    gap: 40px;
    padding: 0 20px;
}
.details-img{
    width: 450px;
    height: 450px;
    background: #e2e2e2;
    border-radius: 12px;
}
.details-info{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.details-title{
    font-size: 32px;
    font-weight: 700;
}
.details-price{
    font-size: 22px;
    color: #333;
}
.details-description{
    font-size: 16px;
    color: #555;
    line-height: 1.6px;
}
.details-button{
    padding: 14px;
    font-size: 16px;
    background: black;
    color: white;
    border: none;
    border-radius: 8px;
    width: 200px;
    cursor: pointer;
}
.details-button:hover{
    opacity: 0.8;
}