.Products-page{
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}
.Filters{
    margin-bottom: 25px;
    
}
.Filters-row{
    color: #000000de;
    line-height: 24px;
    display: flex;
    gap: 12px;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}
.Filter-button{
    align-items: center;
    background:white;
    color: #000000de;
    display: flex;
    justify-content: flex-start;
    line-height: 24px;
    padding: 8px 16px;
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
}
.Filter-button.active{
    background: black;
    color:white;
}
.Sort-select{
    align-items: center;
    border-radius: 6px;
    border: 1px solid #ccc;
    border-width: 1px;
    color: #000000de;
    display: inline-flex;
    font-size: 14px;
    font-weight: 500;
    justify-content: center;
    line-height: 24.5px;
    padding: 8px 16px;
    text-align: center;
    text-transform: uppercase;

}
.Products-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 25px;
}